@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-family{
  font-family: "Cormorant Garamond", serif;
  line-height: 1.5;
}
body{
  margin: 0;
}
/* Add this for Cormorant Garamond */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');


.hero {
  background-image: linear-gradient(to right, rgba(13, 10, 26, 2),rgba(13, 10, 26, 1),  rgba(13, 10, 26, 0.6)), url("/mak-header.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  position: relative;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-darker);
}

::-webkit-scrollbar-thumb {
  background: #4a4658;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a566a;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a4658 var(--color-darker);
}
